span.textSplit {
    color: aqua;
}

span:nth-child(even) {
    color:#6D5B7F;
}
span {
    color:aqua
}

/* Slide Animations */
.slideInLeft {
    -webkit-animation: slideInLeft 1s ease-in-out 0s 1 alternate both;
    animation: slideInLeft 1s ease-in-out 0s 1 alternate both;
    -webkit-transform: translateX(-100vw);
    transform: translateX(-100vw);
}
.slideInLeft:nth-child(odd) {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
	    -webkit-transform: translateX(100vw);
    transform: translateX(100vw);
}
@keyframes slideInLeft {
    from {
        -webkit-transform: translateX(-100vw);
        transform: translateX(-100vw);
        opacity: 1;
}
to {
    -webkit-transform: translate(0);
   transform: translate(0);
   opacity: 1;
}}
/* ---------------------- */